@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-fondo-claro: #F7F4E8;
  --color-secundario-claro: #DAF3EA;
  --color-acento-principal: #85E6C0;
  --color-acento-secundario: #6BB39B;
  --color-texto: #0B0B0D;
}

